@media (max-height: 825px) and (max-width: 420px) {
    section:nth-Child(1) {
        .section1_firstHalf {
            height: 30vh;

            .firstHalf_heading {
                .heading_logo {
                    height: 20vh;
                    margin-left: -5%;
                    margin-top: -8%;
                    width: 40%;
                    transform: scale(0.6);
                }

                .heading_others {
                    height: 15vh;
                    margin-top: -5%;

                    .others_menu {
                        margin-top: 2%;
                    }

                    .others_inputText {
                        width: 40%;
                    }

                    .others_inputButton {
                        width: 20%;
                    }
                }
            }

            .firstHalf_writing {
                margin-left: 5%;
                margin-top: 1%;

                span {
                    font-size: 1.4rem;
                    margin-left: 30%;
                }
            }
        }

        .section1_secondHalf {
            height: 50vh;

            .secondHalf_writing {
                width: 80%;
            }

            .secondHalf_mobilePhone {
                width: 0;

                .secondHalf_message {
                    width: 0;
                    visibility: hidden;

                    .message_bar {
                        width: 0;
                    }
                }

                .secondHalf_mobile {
                    width: 0;
                    visibility: hidden;
                }
            }
        }
    }

    section:nth-child(2) {
        height: 200vh;

        .section2_firstHalf {
            height: 200vh;

            .firstHalf_contents {
                flex-direction: column;
                justify-content: center;

                .topic {
                    width: 80%;
                }
            }
        }

        .section2_secondHalf {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .secondHalf_empty {
                height: 0;
            }

            h1 {
                font-size: 2rem;
            }

            .secondHalf_para {
                font-size: 0.935rem;
            }
            
            .secondHalf_box {
                width: 100%;
            }
        }
    }

    section:nth-child(3) {
        height: 230vh;

        .section3_firstHalf {
            height: 150vh;

            .firstHalf_container {
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 150vh;

                .topic {
                    width: 60%;

                    .icon {
                        font-size: 2rem;
                    }
                }
            }
        }

        .section3_secondHalf {
            height: 80vh;
            flex-direction: column-reverse;

            .secondHalf_leftside {
                width: 100%;

                .leftside_container {
                    width: 70%;
                }
            }

            .secondHalf_rightside {
                width: 100%;
            }
        }
    }

    section:nth-child(4) {
        height: 150vh;

        .section_leftside {
            width: 50%;
        }
    }
}