@media (max-height: 825px) and (max-width: 480px) {
    section:nth-Child(1) {
        .section1_firstHalf {
            height: auto;
            background-size: cover;

            .firstHalf_heading {
                .heading_logo {
                    height: 20vh;
                    margin-left: -5%;
                    margin-top: -8%;
                    width: 40%;
                    transform: scale(0.6);
                }

                .heading_others {
                    height: 15vh;
                    margin-top: -5%;

                    .others_menu {
                        margin-top: 2%;
                    }

                    .others_inputText {
                        width: 40%;
                    }

                    .others_inputButton {
                        width: 20%;
                    }
                }
            }

            .firstHalf_writing {
                margin-left: 5%;
                margin-top: 1%;

                span {
                    font-size: 1.4rem;
                    margin-left: 30%;
                }
            }
        }

        .section1_secondHalf {
            height: 50vh;

            .secondHalf_writing {
                width: 80%;
            }

            .secondHalf_mobilePhone {
                width: 0;

                .secondHalf_message {
                    width: 0;
                    visibility: hidden;

                    .message_bar {
                        width: 0;
                    }
                }

                .secondHalf_mobile {
                    width: 0;
                    visibility: hidden;
                }
            }
        }
    }

    section:nth-child(2) {
        height: 200vh;

        .section2_firstHalf {
            height: 200vh;

            .firstHalf_contents {
                flex-direction: column;
                justify-content: center;

                .topic {
                    width: 80%;
                }
            }
        }

        .section2_secondHalf {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .secondHalf_empty {
                height: 0;
            }

            h1 {
                font-size: 2rem;
            }

            .secondHalf_para {
                font-size: 0.935rem;
            }
            
            .secondHalf_box {
                width: 100%;
            }
        }
    }

    section:nth-child(3) {
        height: 230vh;

        .section3_firstHalf {
            height: 150vh;

            .firstHalf_container {
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 150vh;

                .topic {
                    width: 60%;

                    .icon {
                        font-size: 2rem;
                    }
                }
            }
        }

        .section3_secondHalf {
            height: 80vh;
            flex-direction: column-reverse;

            .secondHalf_leftside {
                width: 100%;

                .leftside_container {
                    width: 70%;
                }
            }

            .secondHalf_rightside {
                width: 100%;
            }
        }
    }

    section:nth-child(4) {
        height: auto;

        .section_leftside {
            .leftside_blank {
                width: 0;
            }

            .leftside_content {
                width: 100%;

                .content_video {
                    height: 0;
                    width: 0;
                }

                .box_content {
                    height: 100%;

                    .content_text {
                        justify-content: space-evenly;

                        .para_1 {
                            font-size: 0.956rem;
                        }

                        .para_2 {
                            font-size: 0.75rem;
                        }

                        .comment {
                            width: 65%;

                            .separation {
                                height: 4.5vh;
                            }
                        }
                    }
                }
            }
        }

        .section_rightside {
            .rightside_top {
                height: auto;
                align-items: center;

                .top_container {
                    .top_para {
                        font-size: 1.3rem;
                    }

                    .top_author {
                        margin-bottom: 10%;
                    }
                }
            }

            .rightside_bottom {
                height: 0;
            }
        }
    }

    section:nth-child(5) {
        height: auto;
        background-size: cover;

        .section_box {
            .box_container {
                width: 70%;

                .container_text {
                    font-size: 1.3rem;
                    margin-top: 10%;
                }

                .container_author {
                    margin-bottom: 10%;
                }
            }
        }
    }

    footer {
        height: auto;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;

        .rightside {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            .rightside_box {
                width: 100%;

                .box_top {
                    height: 100%;
                    justify-content: center;

                    .top_blank {
                        width: 0;
                    }

                    .top_contents {
                        width: 80%;

                        .heading {
                            font-size: 1.2rem;
                        }

                        .input {
                            height: 6.5vh;

                            input {
                                height: 6vh;
                            }

                            .input_button {
                                height: 6vh;
                            }
                        }
                    }
                }

                .box_bottom {
                    height: 0;
                }
            }
        }

        .leftside {
            justify-content: center;
            width: 80%;

            .leftside_box {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .box_top {
                    .top_contents {
                        width: 100%;

                        .heading {
                            font-size: 1.2rem;
                        }

                        .para {
                            max-width: 100%;
                        }
                    }
                }

                .box_bottom {
                    margin-top: 20%;

                    .bottom_contents {
                        width: 100%;
                    }
                }
            }
        }
    }
}